<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " routerLink="/angular-tech-mfe">Angular</a>
        </li>
       <li class="nav-item">
          <a class="nav-link " routerLink="/react-tech-mfe">React</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/vue-tech-mfe">Vue</a>
        </li>
      </ul>
    </div>
  </nav>
<h1 class="content title">Learn To Code</h1>
