
<header class="bg-info text-white p-3 mb-1 d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <h1 class="display-6">Front-end Technologies</h1>
    </div>
</header>
<div class="cards">
    <div class="card" style="width:400px">
            <div class="card-body">
                <a routerLink="/angular-tech"><img  src="assets/R.png" ></a>
                <h3 class="card-footer" style="text-align: center;">Angular</h3>
            </div>
        </div>
    <div class="card" style="width:400px">
            <div class="card-body">
                <a routerLink="/react-tech"><img src="assets/react.png" ></a>
                <h3 class="card-footer" style="text-align: center;">React</h3>
            </div>     
        </div>
    <div class="card" style="width:400px">
            <div class="card-body">
                <a routerLink="/vue-tech"><img src="assets/vue.png" ></a>
                <h3 class="card-footer" style="text-align: center;">Vue</h3>
            </div>
        </div>
</div>
