<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/angular-tech-mfe">Angular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/react-tech-mfe">React</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vue-tech-mfe">Vue</a>
      </li>
    </ul>
    <ul>
      Ng Fav added: {{isNgFav}}
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
