<header class="bg-info text-white p-3">
      <h1 class="display-6" style="margin-left: 10px;">Angular (Remote Application - {{hostData}})</h1>
</header>
<div class="buttons" *ngIf="FavClicked; else FavRemoved">
  <button class ="fav-btn" (click)="remFav()">Added to favorite</button>
</div>
<ng-template #FavRemoved>
  <div class="buttons">
    <button class ="remove-btn" (click)="addFav()">Add to favorite</button>
  </div>
</ng-template>



<div class="content">
  <div class="left-panel">
    <h2>What is Angular?</h2>
    <p>Angular is a development platform, built on TypeScript.</p>

    <p>As a platform, Angular includes:</p>

    <ul>
      <li>
        A component-based framework for building scalable web applications
      </li>
      <li>
        A suite of developer tools to help you develop, build, test, and update your code
      </li>
    </ul>

    <p>
      With Angular, you're taking advantage of a platform that can scale from single-developer projects to enterprise-level applications. Best of all, the Angular ecosystem consists of a diverse group of over 1.7 million developers, library authors, and content creators.
    </p>

    <h5 Style="padding-left: 20px;">Concepts</h5>

    <ul>
      <li><a href="JavaScript Classes">JavaScript Classes</a></li>
      <li><a href="TypeScript Decorators">TypeScript fundamentals</a></li>
      <li><a href="TypeScript Decorators">TypeScript Decorators</a></li>
    </ul>



  </div>
  <div class="right-panel">
        <div class="mt-4 p-4 text-black rounded">
          This is the archived documentation for Angular v17. Please visit <a href="https://angular.dev/overview">angular.dev</a> to see this page for the current version of Angular.
        </div>
        <div class="mt-4 p-4 text-black rounded" >
          <h5>Prerequisites</h5>
          <p>Like most modern frameworks, Angular expects you to be familiar with HTML, CSS and JavaScript. </p>
          <ul>
            <li>Html</li>
            <li>Css</li>
            <li>JavaScript</li>
          </ul>
        </div>
  </div>


</div>
