

h2
{
    padding: 20px;
}
p{
    margin-left: 20px;
}
ul{
    margin-left: 20px;
}

.content
{
    display:flex;
}
.left-panel
{
    margin-right: 50px;
    width:60%;
}
.right-panel
{
    width: 40%;
    padding-right: 10px;
    border-left: solid 1px #c2c2c2 ;
    height:500px;
    margin-top: 10px;
}

a{  
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-decoration: underline;
}

li a{
    color:rgb(17, 91, 203);
    font-weight: 400;
}